h1{color: chartreuse
    ;text-align: center;
    text-decoration: underline;
    text-indent: 30px;}
h2{text-align: center;
    color: aqua;
    text-transform: initial;}
h3{text-align:center;
    color: brown;
    text-decoration: line-through; }
p{text-align: justify;
    color: black;
    letter-spacing: normal;}
